@font-face {
                                font-family: 'Manrope';
                                src: url("../fonts/Manrope-VariableFont_wght.woff2?v=1779005828607") format("woff2 supports variations"),
                                    url("../fonts/Manrope-VariableFont_wght.woff2?v=1779005828607") format("woff2-variations"),
                                    url("../fonts/Manrope-VariableFont_wght.woff?v=1779005828607") format("woff");
                                font-weight: 100 900;
                                font-stretch: 75% 125%;
                                font-style: normal;
                                font-display: swap;
                            }
